html {
  min-height: 100%;
}

body {
  background: rgb(58, 0, 198);
  background: linear-gradient(
      0deg,
      rgba(58, 0, 198, 1) 0%,
      rgba(0, 33, 185, 1) 100%
    )
    fixed;
  font-family: "Mohave", sans-serif;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: azure;
}

h1 {
  text-align: center;
  font-size: 2em;
  margin-top: 200px;
  margin-bottom: 0;
}
h3 {
  text-align: center;
  font-size: 1em;
  margin: -1px auto;
  padding: 15px;
  border: 1px solid #848484;
  max-width: 300px;
  color: #45ffca;
  border-radius: 15px 15px 0px 0px;
}
h4 {
  text-align: center;
  margin: 0 0 50px;
}

.almacen,
.liquido {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: auto;
  border-top: 1px solid grey;
  margin-bottom: 60px;
}

ul {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
  display: flex;
  flex-direction: column;
  flex-basis: auto;
  align-items: center;
  flex-grow: 1;
  font-size: 1.2em;
  margin: 20px;
}

img {
  height: 300px;
}
a {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  position: relative;
}

a:hover::before {
  content: "";
  background-image: url(../img/icon_download.svg);
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 73px;
  background-color: #009fff80;
  border-radius: 5px;
  transition: all ease-in-out 0.3s;
}
